<%= form_with(model: apartment, local: true) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :angel_rating %>
    <%= form.number_field :angel_rating %>
  </div>

  <div class="field">
    <%= form.label :jon_rating %>
    <%= form.number_field :jon_rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
