<div class="text-center display-4"> All Apartments</div>
<hr>
<div class="text-center">
  <%= link_to 'Add New Apartment', new_apartment_path, :class =>"btn-lg"%>
</div>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col"> Link</th>
      <th scope="col">Angel Rating</th>
      <th scope="col">Jon Rating</th>
    </tr>
  </thead>


  <tbody>
    <% @apartments.each do |apartment| %>
    <tr>
      <td><%= apartment.address %></td>
      <td> <a href="<%= apartment.link %>" target="_blank"> <%= apartment.link[8..40] %>......</a>  </td>
      <td><%= apartment.angel_rating %></td>
      <td><%= apartment.jon_rating %></td>

      <td>
        <%= link_to 'View', apartment %>
        <hr>
        <%= link_to 'Edit', edit_apartment_path(apartment) %>
        <hr>
        <%= link_to 'Delete', apartment, method: :delete, data: { confirm: 'Are you sure you\'d like to delete this apar?' } %>
      </td>

    </tr>
    <% end %>

  </tbody>
</table>

<hr>
