<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @apartment.address %>
</p>

<strong> Link: </strong> <a href="<%= @apartment.link %>" target="_blank"> <%= @apartment.link[8..40] %>......</a>


<p>
  <strong>Angel rating:</strong>
  <%= @apartment.angel_rating %>
</p>

<p>
  <strong>Jon rating:</strong>
  <%= @apartment.jon_rating %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
